<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Pollita Mundial</title>
  <meta charset="utf-8">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">POLLITA MUNDIAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="grupos"><a href="/">GRUPOS</a></li>
        <li id="octavos"><a href="/octavos">OCTAVOS</a></li>
        <li id="cuartos"><a href="/cuartos">CUARTOS</a></li>
        <li id="semifinal"><a href="/semis">SEMIS</a></li>
        <li id="final"><a href="/final">FINAL</a></li>
        <li id="acerca"><a href="/about">ACERCA DE</a></li>
        <li id="partidos"><a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022/scores-fixtures?country=BO&wtw-filter=ALL">FIXTURE</a></li>
      </ul>
    </div>
  </nav>
</head>
<body>
  <div class="container">
