<%- include("partials/header") -%>
<h2>Acerca de la Pollita</h2>
<h3>Propuesta de reglas ( todavia a ser confirmada )</h3>
<p>
  Para la participación se da la opción de realizar la apuesta por fases de la primera fase a la cuarta un monto de 100 pesos y la quinta fase se pensó en 200 pesos que sumaría un total de 600 pesos por persona como apuesta de todo el mundial.</p>
<p>
   El ganador con mayor puntaje de equipos acertados se lleva el total acumulado por participante según la fase.
</p>

<%- include("partials/footer") -%>
