<%- include("partials/header") -%>
<h2>Acerca de la Pollita</h2>
<h3>Reglas</h3>
<p>
 El monto de total la apuesta es 600 Bs, distribuido de la sig manera:
</p>
<ul>
  <li>Fase de Grupos  - Bs 100</li>
  <li>Fase de Octavos - Bs 100</li>
  <li>Fase de Cuartos - Bs 100</li>
  <li>Semifinales     - Bs 100</li>
  <li>La Gran Final   - Bs 200</li>
</ul>
<p>
   El ganador con mayor puntaje de equipos acertados se lleva el total acumulado por participante según la fase.
</p>
<p>
   Los cambios en la seleccion de equipos para la fase de Grupos y el pago de la apuesta se aceptaran solamente hasta el <b>15 de Noviembre.</b>
</p>
<p>Las reglas para las siguientes fases se publicaran mas adelante.</p>
<%- include("partials/footer") -%>
